body{
	margin: 0;
}
.wrapper_all{
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "header header header"
											 "article article article"
												"servises servises servises"
												"footer footer footer" ;
	grid-gap: 1fr;

}


header{
	background-image: url("images/image_header/00.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: header;
	width: 100%;
	height: 100vh;
}
article{
	grid-area: article;
	background-color: chartreuse;
	width: auto;
	height: 100vh;
}
.servises{
	background-color: cornflowerblue;
	grid-area: servises;
	width: auto;
	height: 100vh;

}
footer{
	grid-area: footer;
	width: auto;
	height: 30px;
	background-color: darkgreen;
}

@media screen  and (max-width: 500px){
	.wrapper_all{
		grid-template-rows: 1fr 1fr 1fr 1fr ;
		grid-template-columns: 1fr;
		grid-template-areas: "header"
		"article"
		"servises"
		"footer" ;
		grid-gap: 1fr;

	}
}
.servises{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
	grid-gap: 233px 32px;

}
.servises div{
	width: 412px;
	height: 240px;
	
}
.servises div img{
	width: 412px;
	height: 240px;

}