@import "style_reset.scss";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.wrapper-all {
  display: grid;
  width: 100vw;


  header {
    width: 1080px;
    justify-self: center;

    & a {
      color: rgb(35, 31, 32);
    }

    .headerTop {
      display: flex;
      justify-content: space-between;
      height: 19px;
      margin-top: 32px;

      .headerTop-languages {
        display: block;
        color: #000000;
        text-transform: uppercase;
        line-height: normal;
        text-decoration: underline;

        a.languages__en {
        }

        a.languages__esp {
          margin-left: 16px;
        }

        a.languages__ru {
          margin-left: 16px;
        }
      }


      .text {
        justify-self: center;
        color: #000000;
        font-family: Bebas;
        font-size: 9px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2.72px;
        line-height: normal;
      }

      .text2 {
        justify-self: end;

      }
    }

    .header-bottom {
      align-items: center;
      align-self: start;
      font-family: -apple-system;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: normal;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .header-bottom-menuLeft {
        justify-self: start;

        & :nth-child(n) {
          margin-left: 20px;
        }

        & :first-child {
          margin-left: 0;
        }

        a {

        }
      }

      .header-bottom__logo {
        justify-self: center;
      }

      .header-bottom-menuRight {
        justify-self: end;

        & :nth-child(n) {
          margin-right: 20px;
        }

        & :last-child {
          margin-right: 0;
        }

        a {
        }

        a {
        }

        a {
        }
      }
    }

    & .gaterins {
      height: 8px;
      color: #000000;
      font-family: Bebas;
      font-size: 8px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 25px;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 8px;
      line-height: normal;
      margin-top: 30px;
      display: flex;
      justify-content: center;


    }
  }
}
.contentFull {
  width: 1080px;
  display: flex;
  justify-self: center;
  padding-top: 33px;

  & .contentFull__image {
    width: 500px;
    height: 400px;
  }
    & .contentFull__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 683px;
      height: 425px;
      background-color: #000000;
      padding-left: 55px;

    }

      & .private {
        width: 200px;
        height: 87px;
        color: white;
        font-family: Algerian;
        font-size: 50px;
      }

      & .text {
        height: 39px;
        color: #ffffff;
        font-family: "Algerian";
        font-size: 15px;
      }

      & .buttons {
        color: white;
        display: flex;
      }
    }


















