@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.wrapper-all {
  display: grid;
  width: 100vw; }
  .wrapper-all header {
    width: 1080px;
    justify-self: center; }
    .wrapper-all header a {
      color: #231f20; }
    .wrapper-all header .headerTop {
      display: flex;
      justify-content: space-between;
      height: 19px;
      margin-top: 32px; }
      .wrapper-all header .headerTop .headerTop-languages {
        display: block;
        color: #000000;
        text-transform: uppercase;
        line-height: normal;
        text-decoration: underline; }
        .wrapper-all header .headerTop .headerTop-languages a.languages__esp {
          margin-left: 16px; }
        .wrapper-all header .headerTop .headerTop-languages a.languages__ru {
          margin-left: 16px; }
      .wrapper-all header .headerTop .text {
        justify-self: center;
        color: #000000;
        font-family: Bebas;
        font-size: 9px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2.72px;
        line-height: normal; }
      .wrapper-all header .headerTop .text2 {
        justify-self: end; }
    .wrapper-all header .header-bottom {
      align-items: center;
      align-self: start;
      font-family: -apple-system;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: normal;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .wrapper-all header .header-bottom .header-bottom-menuLeft {
        justify-self: start; }
        .wrapper-all header .header-bottom .header-bottom-menuLeft :nth-child(n) {
          margin-left: 20px; }
        .wrapper-all header .header-bottom .header-bottom-menuLeft :first-child {
          margin-left: 0; }
      .wrapper-all header .header-bottom .header-bottom__logo {
        justify-self: center; }
      .wrapper-all header .header-bottom .header-bottom-menuRight {
        justify-self: end; }
        .wrapper-all header .header-bottom .header-bottom-menuRight :nth-child(n) {
          margin-right: 20px; }
        .wrapper-all header .header-bottom .header-bottom-menuRight :last-child {
          margin-right: 0; }
    .wrapper-all header .gaterins {
      height: 8px;
      color: #000000;
      font-family: Bebas;
      font-size: 8px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 25px;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 8px;
      line-height: normal;
      margin-top: 30px;
      display: flex;
      justify-content: center; }

.contentFull {
  width: 1080px;
  display: flex;
  justify-self: center;
  padding-top: 33px; }
  .contentFull .contentFull__image {
    width: 500px;
    height: 400px; }
  .contentFull .contentFull__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 683px;
    height: 425px;
    background-color: #000000;
    padding-left: 55px; }
  .contentFull .private {
    width: 200px;
    height: 87px;
    color: white;
    font-family: Algerian;
    font-size: 50px; }
  .contentFull .text {
    height: 39px;
    color: #ffffff;
    font-family: "Algerian";
    font-size: 15px; }
  .contentFull .buttons {
    color: white;
    display: flex; }

/*# sourceMappingURL=style.css.map */
