@import "style_reset.scss";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  display: grid;
  //font-family: 'Bebas Neue', cursive;
  //font-family: 'PT Sans', sans-serif;
}

.wrapper-all {
  display: grid;
  width: 1366px;
  height: 2625px;
  justify-self: center;

  header {
    width: 868px;
    justify-self: center;

    .headerTop {
      display: grid;
      height: 19px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 32px;

      .headerTop-languages {
        display: block;
        color: #000000;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: normal;
        text-decoration: underline;

        a.languages__en {
        }

        a.languages__esp {
          margin-left: 16px;
        }

        a.languages__ru {
          margin-left: 16px;
        }
      }


      .text {
        justify-self: center;
        color: #000000;
        font-family: Bebas;
        font-size: 9px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2.72px;
        line-height: normal;
      }

      .text2 {
        justify-self: end;

      }
    }

    .header-bottom {
      .header-bottom-menuLeft {
        a {
        }

        a {
        }

        a {
        }
      }

      .header-bottom-namePage {
      }

      .header-bottom-menuRight {
        a {
        }

        a {
        }

        a {
        }
      }
    }
  }
}




