@import "style_reset.scss";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
  display: grid;
  //font-family: 'Bebas Neue', cursive;
  //font-family: 'PT Sans', sans-serif;
}

.wrapper-all {
  display: grid;
  width: 100vw;
  height: 2625px;
  justify-self: center;



  header {
    width: 1080px;
    height: 177px;
    justify-self: center;
    & a{
      color:rgb(35, 31, 32);
    }

    .headerTop {
      display: grid;
      height: 19px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 32px;

      .headerTop-languages {
        display: block;
        color: #000000;
        text-transform: uppercase;
        line-height: normal;
        text-decoration: underline;

        a.languages__en {
        }

        a.languages__esp {
          margin-left: 16px;
        }

        a.languages__ru {
          margin-left: 16px;
        }
      }


      .text {
        justify-self: center;
        color: #000000;
        font-family: Bebas;
        font-size: 9px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2.72px;
        line-height: normal;
      }

      .text2 {
        justify-self: end;

      }
    }

    .header-bottom {
      align-items: center;
      align-self: start;
      font-family: -apple-system;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: normal;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .header-bottom-menuLeft {
        justify-self: start;
        &  :nth-child(n){
          margin-left: 20px;
        }
        &  :first-child{
          margin-left: 0;
        }
        a {

        }
      }

      .header-bottom__logo {
        justify-self: center;
      }

      .header-bottom-menuRight {
        justify-self: end;
        &  :nth-child(n){
          margin-right: 20px;
        }
        &  :last-child{
          margin-right: 0;
        }
        a {
        }

        a {
        }

        a {
        }
      }
    }
    & .header-bottom__gaterins{
      // Style for "Catering"
      height: 8px;
      color: #000000;
      font-family: Bebas;
      font-size: 8px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      // Text style for "Catering"
      font-style: normal;
      letter-spacing: 8px;
      line-height: normal;
      margin-top: 30px;
      grid-column: 2/3;



    }
  }
  & .contentFull {
    display: grid;
    height: 426px;
    grid-template-rows: 1fr;
    grid-template-columns:2fr;

    & :first-child{
      display: inline-grid;
    }
    & :last-child{
      display: inline-grid;
    }

  }

}

.ss{
  width:800px ;
  height: 800px;
  background: url("../images/6c5f9cc8b99ba313230d0d9043c814b0.png") no-repeat;
  background-size: 100%;
}

















