.wrapper-all {
  margin: 0;
  position: relative;
background-image: url("Background.jpg");
  background-attachment: fixed;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  display: grid;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header header header" "article article article" "menu menu menu";
  grid-gap: 5px; }


@media all and (max-width: 640px) {
  .wrapper-all {
    height: border-box;
    grid-template-rows: 0.2fr 2fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "article" "menu";
    grid-gap: 1px; }
  .wrapper-all .menuAll {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 120px;
    font-size: 70%; }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    word-wrap: break-word;
    font-size: 80%; }
  .content :nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgba(97, 97, 97, 0.3);
    box-sizing: border-box;
    width: 100vw;
    height: 200px;
  }
  .content :nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgba(97, 97, 97, 0.3);
    box-sizing: border-box;
    width: 100vw;
    height: 300px;
    overflow: hidden;
    justify-self: start;
    align-self: start; }
  .content :nth-child(3) {
    grid-row: 3/5;
    grid-column: 1/2;
    background-color: rgba(97, 97, 97, 0.3);
    width: 100vw;
    height: 300px; }

  article {
    margin: 0; }

  .menuAll :hover {
    color: #9e9b9b;
    transition-property: color;
    transition: 250ms;
    border-style: solid;
    border-radius: 3px;
    padding: 4px; } }