body{
	margin: 0;
}
.wrapper_all{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr ;
		grid-gap: 1fr;
}
header{

background-color: darkcyan;
}
header div{
	background-color: cornflowerblue;
	size: 50px 50px;
}
