@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background-color: #e8e8e8; }

.content {
  padding: 168px 0 137px 0;
  max-width: 821px;
  margin: 0 auto; }
  .content .content-top {
    padding-bottom: 77px; }
    .content .content-top .content-top__category {
      opacity: 0.6;
      color: #273d46;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 2.8px;
      line-height: normal;
      margin: 0 0 15px 0; }
    .content .content-top h1.content-top__title {
      color: #273d46;
      font-size: 36px;
      max-width: 723px;
      margin: 0 auto;
      text-align: center; }
  .content .content-image {
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15); }
    .content .content-image .content-image__item img {
      max-width: 100%;
      padding: 10px; }
  .content .content-bottom {
    margin-top: 107px;
    opacity: 0.8;
    color: #273d46;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; }
    .content .content-bottom .content-bottom__text1 p {
      padding-bottom: 60px; }
    .content .content-bottom .content-bottom__text2 ul {
      font-family: "Arial MT";
      line-height: 36px;
      font-style: normal;
      letter-spacing: normal; }
      .content .content-bottom .content-bottom__text2 ul li {
        background: url(images/check_icon.png) no-repeat left;
        padding-left: 30px; }
      .content .content-bottom .content-bottom__text2 ul :nth-child(1) {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        color: #273d46;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        line-height: normal;
        padding-bottom: 13px; }
      .content .content-bottom .content-bottom__text2 ul :nth-child(2) {
        color: #80b7b3;
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: normal;
        text-align: left;
        line-height: normal;
        padding-bottom: 17px; }
      .content .content-bottom .content-bottom__text2 ul :nth-child(3) {
        color: #273d46;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        line-height: normal;
        padding-bottom: 16px; }
      .content .content-bottom .content-bottom__text2 ul :nth-child(4) {
        color: #273d46;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        margin-bottom: 59px;
        text-align: left;
        text-decoration: line-through;
        line-height: normal; }
        .content .content-bottom .content-bottom__text2 ul :nth-child(4) span {
          opacity: 0.3; }
    .content .content-bottom .content-bottom__text2 a.content-bottom__link {
      height: 44px;
      display: inline-block;
      line-height: 44px;
      padding: 0px 30px;
      border-radius: 24px;
      background-color: #80b7b3;
      -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2.8px; }
    .content .content-bottom .content-bottom__text2 span {
      padding: 0px 30px 0px 0px;
      background: url("images/Shape_2.png") right no-repeat; }

/*# sourceMappingURL=style.css.map */
